* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Inter;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
  background: #f2f6f7;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  width: 40%;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Navigation */
.navigation {
  display: flex;
  margin-bottom: 1rem;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 0px 0px 8px 8px;
  border-right: 1px solid rgba(30, 79, 113, 0.26);
  border-bottom: 1px solid rgba(30, 79, 113, 0.26);
  border-left: 1px solid rgba(30, 79, 113, 0.26);
  background: #fff;
}

.left-nav-menu {
  display: flex;
  height: 100vh;
  width: 29%;
  position: absolute;
  left: 0;
  top: 0;
  flex-direction: column;
  padding: 2rem 1rem;
  gap: 1.5rem;
  border-radius: 8px;
  border: 1px solid rgba(30, 79, 113, 0.26);
  background: #fff;
  transition: all 0.25s;
}

.nav-item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  gap: 8px;
  height: 2rem;
  width: 2rem;
  border-radius: 6px;
  border: 1px solid #b1c1cc;
}

.left-nav-item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  gap: 8px;
  height: 4rem;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #b1c1cc;
}

.nav-item:hover {
  background: hsl(210, 9%, 96%);
}

/* Main section */

main {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  gap: 1.5rem;
  border-radius: 8px;
  border: 1px solid rgba(30, 79, 113, 0.26);
  background: #fff;
  width: 100%;
}

.container {
  margin: 0 auto;
}

/* Calendar */
.calendar-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0;
}
.day {
  color: #737373;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 160% */
}
.day-active {
  color: #1a4869;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 160% */
}

.day-container {
  cursor: pointer;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  border-radius: 0.5rem;
  transition: 0.25s all;
}
.day-container:hover {
  background-color: rgba(232, 232, 232, 0.352);
  display: flex;
  flex-direction: column;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.indicator.current {
  height: 1rem;
  width: 1rem;
}

.number-container {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(198, 198, 198, 0.304);
  gap: 8px;
  border-radius: 120px;

  background: #1a486910;
}
.number-container-active {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 120px;

  background: #0d212fed;
}

.number {
  color: #929292;
  font-size: 15px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 160% */
}
.number-active {
  color: #e9e9e9;
  font-size: 15px;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 160% */
}

/* Workout Summary */
.summary-container {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  gap: 1.5rem;
  border-radius: 8px;
  border: 1px solid rgba(30, 79, 113, 0.26);
  background: #fff;
  width: 100%;
}

.close-icon {
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 12px;
  color: #878d91;
  border-radius: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.close-icon:hover {
  background-color: #f1f1f1;
}

.workout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.small-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  gap: 0.25rem;
}
/* Form */

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ul {
  list-style: none;
}
/* Inputs */

.input-box {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #1f2c35;
}

.text-input {
  width: 100%;
  padding: 0.5rem;
  outline: none;
  border-radius: 0.35rem;
  border: 1px solid rgba(26, 72, 105, 0.09);
  background: #f8f9fa;
}
.input-container h3 {
  color: #185468;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 160% */
}

.text-input::placeholder {
  color: #878d91;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 184.615% */
}

.input-container {
  display: flex;
  padding: 16px 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid rgba(26, 72, 105, 0.06);
  background: #fff;
  box-shadow: 13px 14px 5px 0px rgba(27, 72, 105, 0),
    8px 9px 5px 0px rgba(27, 72, 105, 0.01),
    5px 5px 4px 0px rgba(27, 72, 105, 0.03),
    2px 2px 3px 0px rgba(27, 72, 105, 0.05),
    1px 1px 2px 0px rgba(27, 72, 105, 0.06);
}

/* Buttons */

button {
  cursor: pointer;
  display: flex;
  padding: 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: center;
  font-family: Inter;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 106.667% */
  transition: all 0.1s;
}

.primary {
  border-radius: 0.35rem;
  background: #1c1d1d;
  color: #fff;
}

.primary:hover {
  background: #363637;
}
